@import "tailwindcss";

body{
    background-color: rgba(255, 192, 203, 0.634);
}

.banner h3{
    font-family: "Love Light", cursive; 
    /* font-weight: 400;  */
    /* font-size: 70px;  */
}
.companytitle{ 
    font-family: "Love Light", cursive; 
}

.banner button{
    cursor: pointer;
} 
